[submodule "deployment"]
	path = deployment
	url = git@ldap-server:GG-CV-deployment.git
[submodule "_DESIGN/slider_svg"]
	path = _DESIGN/slider_svg
	url = https://github.com/LibertaliaRepos/sliders.git
