@font-face {
  font-family: 'anonymous';
  src:  url('../fonts/Anonymous_Pro_B.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'latinMono';
  src:  url('../fonts/lmmonocaps10-regular.otf') format('opentype');
  font-weight: bold;
}

@import url('https://fonts.googleapis.com/css?family=Space+Mono&display=swap');