$content-default-padding: 1%;

#content {


  #contentHead {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    height: 70px;

    #pageMenu, h1 { width: 100%; }

    h1 {
      padding: 0 $content-default-padding;
      font-size: 1.7rem;
    }

    @import "pageMenu";
  }

  #explanationList {
    width: 100vw;
    height: calc( calc(100vh - 82px) - 75px );
    overflow: hidden;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;

    .page {
      padding: 0 $content-default-padding;
      min-width: 100vw;
      height: inherit;

      .innerPage {

        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        height: inherit;

        .explanation, .illustration {
          width: 50%;
        }

        .explanation {
          height: inherit;
          overflow-y: scroll;

          h2 { font-size: 2vw; }
        }

        .illustration { text-align: center; }
      }
    }
  }
}