$content-default-padding: 1%;

#content {
  #contentHead {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;

    #pageMenu, h1 { width: 100%; }

    h1 {
      padding: 0 $content-default-padding;
    }

    @import "pageMenu";
  }

  #explanationList {
    width: 100vw;
    overflow: hidden;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;

    .page {
      padding: 0 $content-default-padding;
      min-width: 100vw;


      > h2 {

      }

      .innerPage {

        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        height: 65vh;

        .explanation, .illustration {
          width: 45%;
        }
      }
    }
  }
}