#pageMenu {
  border: $global-borders;
  border-width: $global-border-width 0;
  background-color: $white;

  ul.menu {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

    li {
      background-color: $white;

      &:hover { filter: invert(100%); }

      a {
        display: block;
        color: $black;
        padding: 0 3%;
      }
    }
  }
}