<nav id="toAnchor">
    <ul class="vertical menu">
      <li><a href="{{ path('GGCV_admin_skill') }}"><span>Compétances</span></a></li>
      <li><a href="{{ path('GGCV_admin_project') }}"><span>Projets</span></a></li>
      <li><a href="{{ path('GGCV_admin_xppro') }}"><span>XP. Pro</span></a></li>
      <li><a href="{{ path('GGCV_admin_logout') }}"><span>Déconnexion</span></a></li>
    </ul>
</nav>