<nav id="toAnchor">
    <ul class="vertical menu">
      {% for skill in skills %}
        <li><a href="#{{ skill.anchor }}"><span>{{ skill.title }}</span></a></li>
      {% endfor %}
    </ul>
</nav>