<ul class="menu">
    {% for obj in objs %}

        {% if loop.first %}
            {% set active = 'true' %}
        {% else %}
            {% set active = 'false' %}
        {% endif %}

        {% if type == 'skill' %}
            {% set href = '#' ~  obj.skill.anchor  %}
            {% set order = obj.order  %}
            {% set title = obj.skill.title  %}
        {% elseif type == 'project' %}
            {% set href = '#' ~ obj.project.anchor %}
            {% set order = obj.project.order %}
            {% set title = obj.project.title %}
        {% endif %}

        <li data-active="{{ active }}"><a href="{{ href }}" data-order="{{ order }}">{{ title }}</a></li>

    {% endfor %}
</ul>