<ul class="menu">
    {% for skillImage in skillImages %}

        {% if loop.first %}
            {% set active = 'true' %}
        {% else %}
            {% set active = 'false' %}
        {% endif %}

        <li data-active="{{ active }}"><a href="{{ '#' ~  skillImage.skill.anchor }}" data-order="{{ skillImage.order }}">{{ skillImage.skill.title }}</a></li>

    {% endfor %}
</ul>