@import '_ieMixins';

#layout {
  display: block;
  font-size: 0;
  overflow: hidden;
  #left-side {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    font-size: 1rem;
    
    @media (max-width: 800px) {
      display: none;
    }
  }
  #right-side {
    display: inline-block;
    vertical-align: top;
    width: 80%;
    font-size: 1rem;
    #content {
      @include globalPosition('#skills');
      @include globalPosition('#projects');
      
      @media (max-width: 500px) {
        h1 { text-align: center; }
        #skills {
          > section {
            .explain, .illustration-right { margin: auto; }
          }
        }
      }
      #projects > section {
        .orbit {
          .orbit-wrapper {
            .orbit-container {
              .orbit-slide {
                .orbit-figure {
                  display: block;
                }
              }
            }
          }
          
          &[data-zoomed=true] {
            .orbit-wrapper {
              .orbit-container {
                .orbit-slide {
                  .orbit-figure {
                    text-align: center;
                    img {
                      max-height: 100%;
                    }
                  }
                }
              }
            }
          }
        }
      }
      
      #contact form#contactForm { display: block; }
    }
    
    @media (max-width: 800px) {
      width: 100%;
    }
  }
  
  #construction {
    font-size: 1rem;
    p {
      background-color: inherit;
      animation: none;
      text-align: center;
    }
  }
}