{% extends 'new_base.html.twig' %}

{% block title %} Compétances {% endblock %}

{% block content %}
    <header id="contentHead">

        <h1>Compétances</h1>

        <nav id="pageMenu">
            {{ include('menu/pageMenu.html.twig', { 'objs': objs }) }}
        </nav>

    </header>

    <div id="explanationList">
        {% for obj in objs %}

            {% if loop.first %}
                {% set active = true %}
            {% else %}
                {% set active = false %}
            {% endif %}


            {{ include('entities/skill.html.twig', { 'skillImage': obj, 'active': active }) }}
        {% endfor %}
    </div>
{% endblock %}

