#contact {
  @include explanation('#contactForm');
  @include global-form('#contactForm');
  @media (max-width: 920px) {
    h1 { text-align: center; }
  }
  #contactForm {
      
    #emailLab { width: 85%; }
    #nameLab { margin-right: 15%; }
    #nameLab, #phoneLab { width: 35%; }
    #societyLab { width: 60%; }
    #msgLab { width: 100%; }
    #subjectLab { 
      width: 85%; 
      margin-bottom: 1rem;
      input {
        margin-bottom: 0;
      }
    }
    div[contenteditable=true], .fr-dropdown-list {
    	$size: 1.8em;
    	@for $i from 1 through 4 {
    		h#{$i} {
	    		font-family: serif;
	    		font-size: $size;
	    		font-weight: bold;
	    		border: none;
	    	}
	    	$size : $size - 0.3;
    	}
    }

    #attachmentPdfSection{
      position: fixed;
      right: 2vw;
      top: 40vh;
      background-color: $medium-gray;
      border: 1px solid $orange;
      border-radius: 10px;
      width: calc((((100% - 60%) * (15/18)) / 2) - 2vw);
      height: calc(77vh * 0.3);
      overflow: hidden;
      box-shadow: 2px 2px 7px $black;
      h3 {
        font-size: 1rem;
        font-weight: bold;
        text-align: center;
        height: 22px;
        margin: 0;
        border-bottom: 1px solid $black;
        background: linear-gradient(to bottom, #cccccc 23%,#eeeeee 100%);
      }
      ul {
        font-size: 0.9em;
        height: calc(100% - 22px);
        margin: 0;
        padding: 2px 0 0 2px;
        overflow-y: scroll;
        background-color: $white;
        a.exit {
          color: red;
        }
      }
    }

    @media (max-width: 920px) {
      width: 75%;
      #details {
        label {width: 85%; }
        #nameLab { margin: 0; }
      }
    }
     @media (max-width: 700px) {
       width: 90%;
    }
  }
  
  #mailSent {
    @extend .callout;
    
    &[data-status=true] {
      @extend .success;
      
      border: $callout-mail-succes-border;
      background-color: rgba(#e1faea, 0.7);
      
      h3 {
        background-color: rgba(#22bb5b, 0.5);
      }
    }
    
    &[data-status=false] {
      @extend .alert;
        
      border: $callout-mail-alert-border;
      background-color: rgba(233, 201, 201, 0.9);
      
      h3 {
        background-color: rgba(246, 20, 15, 0.7);
      }
    }
    
//    left: 77%;
//    display: block;
    
    position: fixed;
    top: 28%;
    width: 20vw;
    
    border-radius: 20px;
    padding: 0;
    
    z-index: 999;
    
    transition: left 3s ease-out;
    h3 {
      font-size: 1.1em;
      padding: 1rem 1rem 0 1rem;
      border-radius: 20px 20px 0 0;
      
    }
    p {
      padding: 0 1rem 1rem 1rem;
    }
    
    &[aria-hidden=true] {
      left: 120%;
      display: none;
    }
    
    &[aria-hidden=false] {
      left: 77%;
      display: block;
    }
  }
}