@keyframes construct {
  from { left: 0%; }
  to { left: 100%; }
}

#layout {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  overflow: hidden;
  
  
  #left-side {
    flex: 3;
    
    @media (max-width: 800px) {
      display: none;
    }
  }
  #right-side {
    flex: 15;
  }
  
  @import 'left-side';
  @import 'right-side';
  
  #construction {
    z-index: 1;
    width: 100%;
    background-color: #222222;
    height: 40px;
    overflow: hidden;
    p {
      animation: construct 20s linear infinite;
      position: relative;
      margin: 0;
      font-family: 'jellee-roman';
      color: $white;
      width: auto;
      img {
        max-height: 30px;
      }
    }
    
  }
}





.menu {
  font-family: 'xolonium-bold', impact;
}

h1 {
  font-family: 'jellee-roman';
}

h2 {
  font-family: 'xolonium-reg', impact;
  font-size: 2vw;
  
  @media (max-width: 790px) {
    font-size: 3vw;
  }
}

.reveal {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  padding: 0 0 0.5em 0;

  > * { width: 100%; }
  h2 {
    text-align: center;
  }  
  p {
    display: inherit;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    img {
      max-height: 50vh;
    }
  }
  .button-group-reveal {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
  }
  
  &.alert {
    border: 5px solid red;
    background-color: $light-red;
    h2 {
      background-color: red;
    }
  }
}

.block { display: block; }
.bold { font-weight: bold; }
