#layout {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  
  
  
  #left-side {
    flex: 3;
  }
  #right-side {
    flex: 15;
  }
  
  @import 'left-side';
  @import 'right-side';
}





.menu {
  font-family: 'xolonium-bold';
}

h1 {
  font-family: 'jellee-roman';
}

h2 {
  font-family: 'xolonium-reg';
}

.reveal {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  padding: 0 0 0.5em 0;

  > * { width: 100%; }
  h2 {
    text-align: center;
  }  
  p {
    display: inherit;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    img {
      max-height: 50vh;
    }
  }
  .button-group-reveal {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
  }
  
  &.alert {
    border: 5px solid red;
    background-color: $light-red;
    h2 {
      background-color: red;
    }
  }
}


