#left-side {
  background-color: $black;
  height: 100vh;
  
  .logo {
    display: block;
    border: solid $light-blue;
    border-width: 0 2px 2px 0;
  }
  
  #toAnchor {
    margin-top: 2%;
    position: relative;
    top: 100px;
    transition: top .1s ease;
    ul {
      li {
        a {
          color: $white;
          border: solid $light-blue;
          border-width: 0 0 0 2px;
          
         
          @include activ-button();
          &:hover {
            border-width: 0 0 0 2px;
            background-size: 10%;
          }
          
          span {
            display: inline-block;
            width: 80%;
          }
        }
      }
    }
  }
}