#projects {
  
  @media (max-width: 800px) {
    h1 {
      text-align: center;
      font-size: 6vw;
    }
  }
  
  > section {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    
    margin-bottom: 20px;
    
    @include explanation('.explain', false);
    
    .explain {
      position: static;
      
      @media (max-width: 800px) {
        h2 {
          font-size: 4vw;
        }
      }
    }
    
  .illustration-right {
      width: 25vw;
      height: 50vh;
      align-self: center;
      box-shadow: 0 0 20px $dark-blue;
      background-color: rgba($light-gray, 0.5);
      border: 5px solid transparent;
      
      &:hover {
        border: 5px solid $orange;
          cursor: zoom-in;
        .orbit-bullets {
          button:hover {
            cursor: pointer;
          }
        }
      }
      
      &.orbit {
        padding: 1px;
        
        .orbit-previous, .orbit-next {
          top : 96%;
          border: 1px solid transparent;
          z-index: 8;
          &:hover {
            border: 1px solid $white;
            cursor: pointer;
          }
        }
        .orbit-wrapper {
          height: 90%;
          .orbit-container {
            height: 100% !important;
            .orbit-slide {
              height: 100%;
              figure {
                height: inherit;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
              }
            }
            }
          }
        .orbit-exit {display: none;}
        
        &[data-zoomed=true] {
          position: absolute;
          top: 15vh;
          left: 39vw;
          height: 75vh;
          width: 75vw;
          z-index: 9;
          max-width: calc(32%);
          background-color: rgba($black,0.7);
          max-width: none;
          cursor: default;
          border: 5px solid transparent;
          .orbit-exit {
              @extend .orbit-previous;
              display: block;
              top: 14px;
              left: 97%;
            }
          .orbit-wrapper {
            height: 100%;
            .orbit-container {
              height: inherit !important;
              .orbit-slide {
                height: inherit;
                .orbit-figure {
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  height: inherit;
              }
            }
          }
        }
          
          @media (max-width: 500px) {
            left: 0 !important;
            top: 0 !important;
            width: 100% !important;
            max-height: none !important;
            max-width: none !important;
          }
      }
    }
  }
    
    @media (max-width: 1000px) {
      flex-wrap: wrap;
      .illustration-right, .explain {
        width: 80%;
      }
      .illustration-right {
        margin-top: 20px;
      }
    }
}

  #openedOrbitBack {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    background-color: rgba(0,0,0,0.5);

    transition: width 0.3s ease, height 0.3s ease;
    &[data-status=opened] {
      width: 100vw;
      height: 100vh;
    }
  }
}