#right-side {
  @import 'top-menu';
  @import 'projects';
  
  
  #content {
    background-image: url(../../img/_design/network-2.jpg);
    background-size: contain;
    height: 77vh;
    overflow-y: scroll;
    
    @import 'skills';
    @import 'contact';
    @import 'skillForm';
    @import 'login';
    @import 'adminSkill';
  }
}