#skills {
  padding: 1%;
  > section {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    
    margin-bottom: 20px;
    
    @include explanation('.explain', true);
    
    .illustration-right {
      max-width: 20%;
      align-self: center;
      box-shadow: 0 0 20px $dark-blue;
      background-color: $light-gray;
    }
  }
}