#skillAdmin, #projectAdmin {
  @include explanation('#skillForm');
  @include explanation('#projectForm');
  @include global-form('#skillForm');
  @include global-form('#projectForm');
  
  #skillForm, #projectForm {
    #titleLab, #anchorLab,  #pictPreview { width: 75%; }
    #explanationLab { width: 100%; }
    
    #pictPreview {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center;
      
      figure {
        max-height: 200px;
        text-align: center;
        background-color: rgba($white, 0.2);
        border: 1px solid $dark-gray;
        img {
          max-height: inherit;
        }
      }
    }
  }
}