#top-menu {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  
  background-color: $black;
  height: 23vh;
  
  #top-header {
    
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    
    color: $white;
    height: 100%;
    flex: 10;
    
    h1 {
      font-family: 'jellee-roman';
      font-size: 1.1em;
      margin: 0;
    }
    
    .menu {
      max-height: 42px;
      background-color: inherit;
      color: $white;
      border: solid $light-blue;
      border-width: 2px 0 2px 0;
      align-self: stretch;
      
      @media (max-width: 940px) {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
      }

      li {
        color: inherit;
        min-width: 20%;
        margin-right: 2%;
        
        @media (max-width: 760px) {
          min-width: 30%;
        }

        &:first-child {
          a {
            border-width: 0 1px 0 0;
            &:hover {
              border-width: 0 1px 0 0;
            }
          }
        }
        a {
          color: inherit;
          border: solid transparent;
          border-width: 0 2px 0 2px;

          @include activ-button();
        }
      }
    }
    
    #ephemeris {      
      margin: 0;
      font-family: 'xolonium-bold';
      padding-right: 2%;
      font-size: 0.7em;
      align-self: flex-end;
      margin-top: 1%;
    }
  }

  .logo {
    height: 100%;
   
    border-left: 2px solid $light-blue;
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    
    @media (max-width: 420px) {
      display: none;
    }
  }
}