#xppros {
  padding: 1%;
  h1 {
//    text-align: center;
  }
  > section {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    
    margin-bottom: 20px;

    .header {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: flex-start;

      width: 100%;

      h2 {
        max-width: calc(100% - 70px);
      }

      img {
        max-width: 70px;
      }
    }
    
    @include explanation('.explain', true);
    
    .sticky-container {
      width: 30%;
      .illustration-right {
        max-width: 100%;
        align-self: center;
        box-shadow: 0 0 20px $dark-blue;
        background-color: $light-gray;
        position: sticky;
        top: 20px;
      }
      
      
    }
    
    @media (max-width: 500px) {
      flex-wrap: wrap;
      .explain {
        width: 80%;
      }
      .sticky-container {
        width: auto;
        .illustration-right {
          max-height: 100px !important;
          margin-top: 20px;
        }
      }
    }
  }
}